/**
 * Style for forms
 */
form {
  width: 530px;
  margin: 0 auto;
}

label {
  font-size: smaller;
}

input[type=text],
input[type=password] {
  font-size: 1.2em;
  width: 500px;
}

input[type=submit],
input[type=reset] {
  font-size: 1.2em;
}

textarea {
  font-size: 1.2em;
  width: 500px;
  min-height: 200px;
}

form p {
  margin-bottom: 0;
}

p.cf-desc {
  margin-top: 0;
  font-size: smaller;
  font-style: italic;
}

p.buttons {
  padding-top: 22px;
  padding-bottom: 22px;
} 

.validation-message {
    margin-top: 4px;
    list-style-type: none;
    color: red;
}