/**
 * Based on http://dbwebb.se/coachen/en-navbar-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */
#navbar {
  float: left;
  margin-top: 40px;
}

.navbar {}
 
.navbar ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}
 
.navbar li {
  display: inline-block;
  margin-right: 0.5em;
  border: 1px solid #fff;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  box-shadow: 1px 1px 2px #666;
  background-color: #fff;
  color: #333;
}
 
.navbar a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap; 
}

.navbar li:hover {
  color: #81b71a;
} 
 
.navbar li.selected-parent, 
.navbar li.is-parent, 
.navbar li.selected {
  background-color: #81b71a;
  color: #fff; 
}


/* For use with submenues below */
.navbar ul ul {
  background-color: #fff; 
  padding: 8px; 
  position: absolute; 
  left: -9999px; 
  z-index: 2;
}
 
.navbar li li {
  border-top: none;  
  border-left: 4px solid transparent;  
}

.navbar li:hover ul {
  left: 0;
}
 
.navbar li li:hover {
  color: #666; 
  border-color: #666;
}

.navbar li li.selected {
  color: #22f; 
  border-color: #22f;
}

/* Just to sho off how class works */
.navbar li .italic {
  font-style: italic;
}