/**
 * Style for questions and answers
 */
#questions,
#qa,
#tags {
  float: left;
  width: 600px;
}

#sidebar h2:first-child {
  margin-top: 0;
}

#sidebar #tags {
  width: initial;
  padding-bottom: 24px;
}

#questions .question,
#qa .question,
#qa .answer {
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: 5px 5px 10px #666;
}

#questions .question .fa-exclamation,
#questions .question .fa-comment {
  margin-left: 1em;
}

#questions h3 {
  margin: 0;
}

#questions a,
#qa a {
  color: inherit;
  text-decoration: none;
}

#questions p,
#qa p {
  margin: 0;
}

#questions p.date,
#qa p.date {
  padding: 0.2em 0;
  color: #999;
  font-size: 0.8em;
}

#questions p.name,
#qa div.text {
  margin-top: 12px;
}

#questions img.gravatar,
#qa img.gravatar {
  margin-right: 0.3em;
  vertical-align: middle;
  box-shadow: 2px 2px 4px #666;
}

#qa div.comment img.gravatar {
  margin-right: 0.2em;
  box-shadow: 1px 1px 2px #666;
}

#qa p.answerLink {
  margin-bottom: 1em;
}

.qtext {
  width: 600px;
  margin: 0 auto 2em;
}

/**
 * Style for comments
 */
#qa div.comment {
  margin-top: 12px;
  border-top: 1px solid #666;
  padding: 4px 0;
  font-size: 0.8em;
}

#qa div.comment + div.comment {
  margin-top: 0;
  border-top: 1px dotted #666;
}

#qa div.comment .name {
  font-size: 0.9em;
}

#qa div.comment .info {
  color: #999;
  font-size: 0.9em;
}

/**
 * Style for tags
 */
.tag {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  box-shadow: 1px 1px 2px #666;
  background-color: #81b71a;
  color: #fff;
  font-size: 0.8em;
}
 
.tag a {
  display: block;
  padding: 0.1em 1em 0.2em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap; 
}

#profile .tag {
  margin-bottom: 0;
}
